################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ECE480_Project6/v16/.suo
/.vs/ProjectSettings.json
/.vs/ECE480_Project6/v16/.suo~2d57db4... test
/Data.csv
